@import "../../../styles";

.navbar-container {
  background-color: $primary-color;
  height: $navbar-height;
  color: $tertary-color;
  display: flex;
  justify-content: center;
  align-items: center;

  .navbar-items-container {
    display: flex;
    list-style: none;

    .navbar-item {
      border-radius: 5px;
      background-color: $tertary-color;
      color: $primary-color;
      width: 150px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        color: $tertary-color;
        background-color: $text-color;
      }
    }
  }
}
