<div class="table-row">
  <div class="table-row__item id-cell">
    <p>{{ pilot.pilotNumber }}</p>
  </div>
  <div class="table-row__item name-cell">
    <p>{{ pilot.name }}</p>
  </div>
  <div class="table-row__item firstname-cell">
    <p>{{ pilot.firstname }}</p>
  </div>
  <div class="table-row__item team-cell">
    <p>{{ pilot.team }}</p>
  </div>
  <div class="table-row__item champion-cell">
    <p>{{ pilot.isChampion ? "OUI" : "NON"}}</p>
  </div>
  <div class="table-row__item action-cell">
    <div class="btn btn--detail" (click)="goToUserDetail()">Detail</div>
  </div>
</div>
