$primary-color: #212121;
$secondary-color: #424242;
$tertary-color: #2FBF37;
$text-color: #ffffff;

$navbar-height: 75px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // color: $text-color;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: $secondary-color;
}
